.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    background: linear-gradient(to bottom right, #4f46e5, #3b82f6, #9333ea);
  padding: 20px;
}

.login-form {

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 10px;
  /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); */
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #0077cc;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #005fa3;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
  list-style-type: none;
}

.signup-link a {
   color: #ebf7ff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}